<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/ba0af4f1f7.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap" rel="stylesheet">
    <!-- swapper -->
    <link
            rel="stylesheet"
            href="https://unpkg.com/swiper/swiper-bundle.min.css"
    />
    <link href="assests/css/index.css" rel="stylesheet">

    <title>Hello, world!</title>
</head>
<body>
<div>
    <button class="learn__more__button"><span>Learn More</span></button>
</div>
<section class="header__section">
{{>header}}
</section>

<!--second section-->
<section class="second__section">
    <div class="container p-4">
        <div class="row second__section__grid">
            <div class="col-sm-12 col-md-4">
                <img class="img-fluid" src="assests/images/googlerating.png" alt="google rating"/>
            </div>
            <div class="col-sm-12 col-md-4">
                <img class="img-fluid" src="assests/images/facebookrating.png" alt="fb rating"/>
            </div>
            <div class="col-sm-12 col-md-4">
                <img class="img-fluid" src="assests/images/justdialrating.png" alt="justdial rating"/>
            </div>
        </div>
    </div>
</section>

<!--third section-->
<section class="sec-card third__section">
    <div class="container">
        <div class="row bg-white">
            <div class="col-lg-6 col-12">
                <div class="card-sec1 pb-5">
                    <img
                            src="assests/images/unsplash_wD1LRb9OeEo.png"
                            alt=""
                            class="w-100 first-img"
                    />
                    <div class="text-center">
                        <img src="assests/images/Group 4.png" alt="" class="second-img w-50"/>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-12 position-relative">
                <div class="red-bg"></div>

                <div class="card-sec2 p-4">
                    <h1>Lorem, ipsum dolor sit amet consectetur</h1>
                    <p style="text-align: justify">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                        Adipisci ullam, minus doloremque ipsum asperiores nesciunt
                        veritatis perspiciatis! Non atque sapiente optio vel voluptates
                        repudiandae ipsam eum rem dolorem commodi? Soluta. Lorem ipsum
                        dolor sit amet, consectetur adipisicing elit. Nesciunt qui earum
                        illum rerum at ab, tempore veritatis cumque ducimus officiis
                        fugiat soluta tempora perferendis cum facere, dolor quod
                        exercitationem! Eum?
                    </p>

                    <ul>
                        <li class="mt-4">
                            <img src="assests/images/Vector.png" alt=""/>

                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Ducimus eum, consequuntur optio corporis laboriosam saepe?

                        </li>
                        <li class="mt-4">
                            <img src="assests/images/Vector.png" alt=""/>

                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Ducimus eum, consequuntur optio corporis laboriosam saepe?

                        </li>
                        <li class="mt-4">
                            <img src="assests/images/Vector.png" alt=""/>


                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Ducimus eum, consequuntur optio corporis laboriosam saepe?

                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>


<!--fourth section div background img png-->
<section>
    <div class="container p-4">
        <div class="row fourth__section__grid">
            <div class="col-sm-12 col-md-2 offset-md-1">
                <img class="img-fluid" src="assests/images/offlineclasses.png" alt="google rating"/>
            </div>
            <div class="col-sm-12 col-md-2">
                <img class="img-fluid" src="assests/images/6month.png" alt="fb rating"/>
            </div>
            <div class="col-sm-12 col-md-2">
                <img class="img-fluid" src="assests/images/technosters.png" alt="justdial rating"/>
            </div>
            <div class="col-sm-12 col-md-2">
                <img class="img-fluid" src="assests/images/5+certificate.png" alt="justdial rating"/>
            </div>
            <div class="col-sm-12 col-md-2">
                <img class="img-fluid" src="assests/images/month.png" alt="justdial rating"/>
            </div>
        </div>
    </div>
    <div class="bg__image">
        <div class="container" style="padding: 50px;">
            <div class="border__line">
                <div class="d-flex justify-content-center">
                    <h3 class="content__main__heading">Lorem ipsum dolor sit amet, consectetur </h3>
                </div>
                <div class="d-flex justify-content-center">
                    <p class="content__sub__heading">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non, mus
                        varius amet sed ornare
                        lobortis. Eros at viverra at pellentesque gravida nulla lectus eget. Elit venenatis est
                        venenatis egestas dictumst ullamcorper et dictum.</p>
                </div>
                <div class="container mb-4">
                    <div class="row gap-4 video__content_main">
                        <div class="col-sm-12 col-md-4 col-lg-3 col-xl-2">
                            <div class="video__content__div pt-2">
                                <div class="d-flex justify-content-center">
                                    <img src="assests/images/videoplayer.png" class="img-fluid"/>
                                </div>
                                <p>Content Marketint</p>
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-4 col-lg-3 col-xl-2">
                            <div class="video__content__div pt-2">
                                <div class="d-flex justify-content-center">
                                    <img src="assests/images/videoplayer.png" class="img-fluid"/>
                                </div>
                                <p>Graphic Designer</p>
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-4 col-lg-3 col-xl-2">
                            <div class="video__content__div pt-2">
                                <div class="d-flex justify-content-center">
                                    <img src="assests/images/videoplayer.png" class="img-fluid"/>
                                </div>
                                <p>vidio Editer</p>
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-4 col-lg-3 col-xl-2">
                            <div class="video__content__div pt-2">
                                <div class="d-flex justify-content-center">
                                    <img src="assests/images/videoplayer.png" class="img-fluid"/>
                                </div>
                                <p>Wordpress</p>
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-4 col-lg-3 col-xl-2">
                            <div class="video__content__div pt-2">
                                <div class="d-flex justify-content-center">
                                    <img src="assests/images/videoplayer.png" class="img-fluid"/>
                                </div>
                                <p>SMM</p>
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-4 col-lg-3 col-xl-2">
                            <div class="video__content__div pt-2">
                                <div class="d-flex justify-content-center">
                                    <img src="assests/images/videoplayer.png" class="img-fluid"/>
                                </div>
                                <p>Graphic Designer</p>
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-4 col-lg-3 col-xl-2">
                            <div class="video__content__div pt-2">
                                <div class="d-flex justify-content-center">
                                    <img src="assests/images/videoplayer.png" class="img-fluid"/>
                                </div>
                                <p>vidio Editer</p>
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-4 col-lg-3 col-xl-2">
                            <div class="video__content__div pt-2">
                                <div class="d-flex justify-content-center">
                                    <img src="assests/images/videoplayer.png" class="img-fluid"/>
                                </div>
                                <p>Wordpress</p>
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-4 col-lg-3 col-xl-2">
                            <div class="video__content__div pt-2">
                                <div class="d-flex justify-content-center">
                                    <img src="assests/images/videoplayer.png" class="img-fluid"/>
                                </div>
                                <p>Content Marketing</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- digital certificate section-->
        <div class="container" style="padding: 50px;">
            <div class="border__line">
                <div class="d-flex justify-content-center">
                    <h3 class="content__main__heading">dIGITAL mARKETING CERTIFICATIONS</h3>
                </div>
                <div class="d-flex justify-content-center">
                    <p class="content__sub__heading">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non, mus
                        varius amet sed ornare lobortis. Eros at viverra at pellentesque gravida nulla lectus eget. Elit
                        venenatis est venenatis egestas dictumst ullamcorper et dictum.</p>
                </div>
                <div class="container mb-5">
                    <div class="row digital__content_main">
                        <div class="col-sm-12 col-md-2">
                            <img src="assests/images/certificate-sample%201.png" class="img-fluid"/>
                        </div>

                        <div class="col-sm-12 col-md-2">
                            <img src="assests/images/Google’s-Digital-Garage.png" class="img-fluid"/>
                        </div>


                        <div class="col-sm-12 col-md-2">
                            <img src="assests/images/YouTube-Certified-Program.png" alt="hello" class="img-fluid"/>
                        </div>

                        <div class="col-sm-12 col-md-2">
                            <img src="assests/images/Google’s-Digital-Garage.png" class="img-fluid"/>
                        </div>

                        <div class="col-sm-12 col-md-2">
                            <img src="assests/images/Digital-Marketing-Associate.png" class="img-fluid"/>
                        </div>

                        <div class="col-sm-12 col-md-2">
                            <img src="assests/images/Media-Planning-Professional.png" class="img-fluid"/>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!--slider review / video-->

        <section class="sec-video-reviews">
            <div class="container text-center" style="padding: 50px;">
                <div class="border__line pb-5">
                    <div class="d-flex justify-content-center">
                        <h3 class="content__main__heading">REVIEWS/VIDEO REVIEWS</h3>
                    </div>
                    <div class="d-flex justify-content-center">
                        <p class="content__sub__heading">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non, mus
                            varius amet sed ornare lobortis. Eros at viverra at pellentesque gravida nulla lectus eget. Elit
                            venenatis est venenatis egestas dictumst ullamcorper et dictum.</p>
                    </div>

                <div class="row">
                    <div class="col-md-12 position-relative slider-col">
                        <div class="swiper mySwiper">
                            <fd class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="review-card my-4">
                                        <img src="assests/images/review_person_img.png" alt=""/>
                                        <h3>AJAY SINGH</h3>
                                        <h5>Lorem Ipsum Dolor</h5>
                                        <p>
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                            Dolores mollitia temporibus voluptate vitae neque
                                            necessitatibus, repellat totam esse ea eaque eligendi
                                            dolorem debitis quisquam, ab veritatis adipisci?
                                            Repudiandae exercitationem illum amet omnis nostrum
                                            mollitia assumenda suscipit quas eius maxime.
                                            Perspiciatis, blanditiis! Recusandae impedit et odit optio
                                            molestiae ex unde
                                        </p>
                                    </div>
                                </div>

                                <div class="swiper-slide">
                                    <div class="review-card my-4">
                                        <img src="assests/images/review_person_img.png" alt=""/>
                                        <h3>AJAY SINGH</h3>
                                        <h5>Lorem Ipsum Dolor</h5>
                                        <p>
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                            Dolores mollitia temporibus voluptate vitae neque
                                            necessitatibus, repellat totam esse ea eaque eligendi
                                            dolorem debitis quisquam, ab veritatis adipisci?
                                            Repudiandae exercitationem illum amet omnis nostrum
                                            mollitia assumenda suscipit quas eius maxime.
                                            Perspiciatis, blanditiis! Recusandae impedit et odit optio
                                            molestiae ex unde
                                        </p>
                                    </div>
                                </div>

                                <div class="swiper-slide">
                                    <div class="review-card my-4">
                                        <img src="assests/images/review_person_img.png" alt=""/>
                                        <h3>AJAY SINGH</h3>
                                        <h5>Lorem Ipsum Dolor</h5>
                                        <p>
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                            Dolores mollitia temporibus voluptate vitae neque
                                            necessitatibus, repellat totam esse ea eaque eligendi
                                            dolorem debitis quisquam, ab veritatis adipisci?
                                            Repudiandae exercitationem illum amet omnis nostrum
                                            mollitia assumenda suscipit quas eius maxime.
                                            Perspiciatis, blanditiis! Recusandae impedit et odit optio
                                            molestiae ex unde
                                        </p>
                                    </div>
                                </div>

                            </fd>
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="reviews-text-2 mx-auto">
                            <h4>Create Your Success</h4>
                            <button class="btn text-white">Apply Now</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--============== our course===============-->
        <div class="container" style="padding: 50px;">
            <div class="d-flex justify-content-center">
                <h3 class="content__main__Course">OUR COURSE</h3>
            </div>
            <div class="d-flex justify-content-center">
                <p class="sub-title__course">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non, mus
                    varius amet sed ornare lobortis. Eros at viverra at pellentesque gravida nulla lectus eget. Elit
                    venenatis est venenatis egestas dictumst ullamcorper et dictum.</p>
            </div>
            <div class="container mb-5">
                <div class="row course__content__main">
                    <div class="col-sm-12 col-md-2 offset-md-1">
                        <img src="assests/images/facebookt.png" class="img-fluid"/>
                    </div>

                    <div class="col-sm-12 col-md-2">
                        <img src="assests/images/psd.png" class="img-fluid"/>
                    </div>


                    <div class="col-sm-12 col-md-2">
                        <img src="assests/images/moc.png" alt="hello" class="img-fluid"/>
                    </div>

                    <div class="col-sm-12 col-md-2">
                        <img src="assests/images/wordpress.png" class="img-fluid"/>
                    </div>

                    <div class="col-sm-12 col-md-2">
                        <img src="assests/images/youtube.png" class="img-fluid"/>
                    </div>

                    <div class="col-sm-12 col-md-2 offset-md-1">
                        <img src="assests/images/facebookt.png" class="img-fluid"/>
                    </div>

                    <div class="col-sm-12 col-md-2">
                        <img src="assests/images/moc.png" alt="hello" class="img-fluid"/>
                    </div>

                    <div class="col-sm-12 col-md-2">
                        <img src="assests/images/wordpress.png" class="img-fluid"/>
                    </div>

                    <div class="col-sm-12 col-md-2">
                        <img src="assests/images/youtube.png" class="img-fluid"/>
                    </div>

                    <div class="col-sm-12 col-md-2">
                        <img src="assests/images/psd.png" class="img-fluid"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--======================get free demo class=========================-->
<section style="background: #E3E3E3">
    <div class="container-fluid pt-5 pb-5">
        <div class="row justify-content-center">
            <div class="col-sm-12 col-md-6 bg-image-class">
                <!--                <img src="assests/images/unsplash_wD1LRb9OeEo.png" class="img-fluid" alt="class img" />-->
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="main__content__demo">
                    <h1>Get Free Demo class</h1>
                    <p class="sub__content__demo man">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non, mus
                        varius amet sed ornare
                        lobortis.
                        Eros at viverra at pellentesque gravida nulla lectus eget. Elit venenatis est venenatis egestas
                        dictumst ullamcorper et dictum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non,
                        mus
                        varius amet sed ornare lobortis. Eros at viverra at pellentesque gravida nulla lectus eget. Elit
                        venenatis est venenatis egestas dictumst ullamcorper et dictum.
                    </p>
                    <div class="row">
                        <div class="col-sm-3 col-md-4 col-lg-3">
                            <div class="border__line__demo text-center">
                                <img src="assests/images/arcticons_best-connect.png"/>
                            </div>
                            <p class="content__img">Create your Success</p>
                        </div>

                        <div class="col-sm-3 col-md-4 col-lg-3 offset-lg-1">
                            <div class="border__line__demo text-center">
                                <img src="assests/images/icon-park-outline_database-success.png"/>
                            </div>
                            <p class="content__img">Create your Success</p>
                        </div>

                        <div class="col-sm-3 col-md-4 col-lg-3 offset-lg-1">
                            <div class="border__line__demo text-center">
                                <img src="assests/images/arcticons_best-connect.png"/>
                            </div>
                            <p class="content__img">Create your Success</p>
                        </div>
                    </div>
                    <div class="course__button">
                        <button>Apply Now</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--================footer section frist map and address====================-->

<section class="footer__section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 p-4">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3548.2250575687767!2d77.99506541485967!3d27.21208298299957!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3974775df183aa2b%3A0x7869914c2d7c2429!2sTechnosters!5e0!3m2!1sen!2sin!4v1648015832404!5m2!1sen!2sin"
                        width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
            <div class="col-sm-12 col-md-6 p-4 footer__adrress">
                <h5 class="mt-0">Address</h5>
                <p>8/195, Engineer's Colony, Opp. Omaxe SRK Mall,
                    Bye Pass Road (NH-2) , Agra.</p>
                <h5>Contact Number</h5>
                <p>Mr. Ajay Singh - 8445022510</p>
                <h5>Mail Id</h5>
                <p>technostes@gmail.com</p>
            </div>
        </div>
    </div>
</section>


<!--========================--footer section start==========================-->
<footer>
    <div class="footer__content">
        <p class="mt-2">&copy;<span id="year"></span> Technosters Technologlies opc pvt.ltd</p>
    </div>
</footer>

<script type="text/javascript">document.getElementById("year").innerHTML = (new Date().getFullYear());</script>

<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>
<!-- Swiper JS -->
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<!-- Initialize Swiper -->
<script>
    var swiper = new Swiper(".mySwiper", {
        loop: true,
        effect: "coverflow",
        grabCursor: true,
        centeredSlides: true,
        slidesPerView: "auto",
        coverflowEffect: {
            rotate: 50,
            stretch: 0,
            depth: 100,
            modifier: 1,
            slideShadows: true,
        },
        pagination: {
            el: ".swiper-pagination",
        },
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
    });
</script>
</body>
</html>