    <div class="container">
        <img class="img-fluid" src="./assests/images/technosters_logo_with_back_drop.png" width="353.85"
             height="100" alt="logo">
        <div class="row mb-5">
            <div class="col-md-6">
                <h1 class="main__header_title title">Lorem ipsum dolor sit amet,
                    consectetur </h1>

                <p class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non, mus varius amet sed
                    ornare
                    lobortis. Eros at viverra at pellentesque gravida nulla lectus eget. Elit venenatis est
                    venenatis egestas dictumst ullamcorper et dictum. Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit. Non, mus varius amet sed ornare lobortis. Eros at viverra at pellentesque
                    gravida nulla lectus eget. Elit venenatis est </p>

                <p class="p-text-color">Hands-On Curriculum that prepares you for Industry leading Certifications
                    from</p>

                <img src="./assests/images/Google_2015_logo%201.png" width="118.52" height="40" class="img-fluid"/>
                <img src="./assests/images/HubSpot-Logo%201.png" width="118.52" height="40" class="img-fluid"
                     style="margin-left: 10px;"/>
                <div>
                    <button class="button-bg">Learn More</button>
                    <button class="button-bg-2">Download Brochure</button>
                </div>
            </div>
            <div class="col-md-6 d-flex justify-content-center align-items-center mb-5">
                <div class="box">
                    <h1 class="form__title">enquiry form</h1>
                    <div class="d-flex flex-column align-items-center">
                        <div class="form-floating form__input">
                            <input type="text" class="form-control" placeholder="Leave a comment here"
                                   id="floatinginput2"/>
                            <label for="floatinginput2" class="_label"><i class="fa-solid fa-circle-user"></i> |
                                Name</label>
                        </div>
                        <div class="form-floating form__input">
                            <input type="text" class="form-control" placeholder="Leave a comment here"
                                   id="floatinginput3"/>
                            <label for="floatinginput3" class="_label"><i class="fa-solid fa-envelope"></i> | E-mail
                                Id</label>
                        </div>
                        <div class="form-floating form__input">
                            <input type="text" class="form-control" placeholder="Leave a comment here"
                                   id="floatinginput4"/>
                            <label for="floatinginput4" class="_label"><i class="fa-solid fa-phone"></i> | Mobile
                                Number</label>
                        </div>
                        <div class="form-floating" style="width: 80%; margin-top: 20px">
                                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
                                          style="height: 100px"></textarea>
                            <label for="floatingTextarea2"><i class="fa-solid fa-comment"></i> | Comments</label>
                        </div>
                        <button class="form-control">Sumbit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>